// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/css/materialdesignicons.min.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.full-height{
    height: 100%;
}
.full-width{
    width: 100%;
}

body {
    background-color: #c7d6d5;
}
