<template>
    <Form action='edit' />
</template>
<script>
  
  import Form from './form'

  export default {
    components: {
        Form
    },
    created() {
        this.$store.dispatch('familiaShow', this.$route.params.id);
    },
  }
</script>