<template>
   <v-form v-model="valid">
        <v-tabs color="cyan" dark grow="grow" slider-color="yellow">
            <v-tab ripple>
                Dados da Família
            </v-tab>
            <v-tab ripple>
                Integrantes
            </v-tab>
            <v-tab-item>
                <v-container fluid>
                    <v-row align="center">
                       
                        <v-col class="d-flex" cols="12" sm="6">
                           <v-select
                            :items="this.estados"
                            label="Estado"
                            v-model="familia.estado"
                            required
                            :rules="rules.required"
                            ></v-select>
                        </v-col>
                        <v-col class="d-flex" cols="12" sm="6">
                           <v-text-field
                                label="Cidade"
                                v-model="familia.cidade"
                                required
                                :rules="rules.required"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    
                    <v-row align="center">
                        <v-col class="d-flex" cols="12" sm="6">
                            <v-text-field
                                label="Bairro"
                                v-model="familia.bairro"
                                required
                                :rules="rules.required"
                            ></v-text-field>
                        </v-col>
                        <v-col class="d-flex" cols="12" sm="6">
                           <v-text-field
                                label="CEP"
                                v-model="familia.cep"
                                v-mask="this.mask"
                                masked="false"
                                required
                                numeric
                                :rules="rules.required"
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row align="center">
                        <v-col class="d-flex" cols="12" sm="6">
                            <v-text-field
                                label="Logradouro"
                                v-model="familia.logradouro"
                                required
                                :rules="rules.required"
                            ></v-text-field>
                        </v-col>
                        <v-col class="d-flex" cols="12" sm="6">
                           <v-text-field
                                label="Número"
                                v-model="familia.num_logradouro"
                                required
                                numeric
                                :rules="rules.required"
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row align="center">
                        <v-col class="d-flex" cols="12" sm="12">
                            <v-select
                            :items="programas_sociais"
                            item-text="nome_programa"
                            item-value="id"
                            label="Programa"
                            v-model="familia.id_programa"
                            required
                            :rules="rules.required"
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-container>
            </v-tab-item>
            <v-tab-item>
                 <v-container fluid>
                    <v-row align="center">
                        <v-col class="d-flex" cols="12" sm="8">
                           <v-select
                            :items="this.semFamilia"
                            label="Pessoas"
                            v-model="pessoa"
                            item-text="nome"
                            item-value="id"
                            return-object
                            ></v-select>
                        </v-col>
                        <v-col class="d-flex" cols="12" sm="4">
                             <v-btn class="mx-2 float-right" dark color="indigo" right @click="addPessoa(pessoa)">
                                <v-icon dark>mdi-plus</v-icon> Adicionar
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-row align="center">
                        <v-col class="d-flex" cols="12" sm="12">
                            <v-data-table
                                :headers="headers"
                                :items="familia.pessoas"
                                :items-per-page="10"
                                class="elevation-1 full-width"
                            >
                                <template v-slot:item.remover="{ item }">
                                    <v-btn class="mx-2 float-right" dark color="red" @click="removePessoa(item.id)">
                                        <v-icon dark>mdi-minus</v-icon> Remover 
                                    </v-btn>
                                </template>
                            </v-data-table>
                        </v-col>
                    </v-row>
                 </v-container>
            </v-tab-item>  
        </v-tabs>
        <router-link to="/">
            <v-btn class="mx-2" fab dark color="green" fixed left bottom>
                <v-icon dark>mdi-arrow-left-bold-circle</v-icon>
            </v-btn>
        </router-link>
        <v-btn class="mx-2" fab dark color="indigo" fixed right bottom @click="submit"
            :disabled="!valid">
            <v-icon dark>mdi-plus</v-icon>
        </v-btn>
        <v-snackbar v-model="snackbar.show"
            :bottom="snackbar.y === 'bottom'"
            color="success"
            :left="snackbar.x === 'left'"
            :multi-line="snackbar.mode === 'multi-line'"
            :right="snackbar.x === 'right'"
            :timeout="snackbar.timeout"
            :top="snackbar.y === 'top'"
            :vertical="snackbar.mode === 'vertical'"
        >
            Familia Atualizada com sucesso
            <v-btn dark text @click="snackbar.show = false" > X </v-btn>
        </v-snackbar>
    </v-form>
</template>
<script>
  import { mask } from 'vue-the-mask'
  import { validationMixin } from 'vuelidate'
  import { required, maxLength } from 'vuelidate/lib/validators'
  export default {
      directives: {
      mask,
    },
    props: ['action']
    ,
    data: () => ({
      valid: false,
      estados:[
          '','AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS',
          'MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO'
      ],
      pessoa: '',
      mask: '#####-###',
      headers: [
          { text: 'nome', value: 'nome' },
          { text: '', value: 'remover'},
      ],
      rules: {
          required: [v => !!v || 'Campo Obrigatório'],
      },
      snackbar: {
            show: false,
            timeout: 6000,
            mode: '',
            x: null,
            y: 'bottom',
        },
    }),
    created() {
        this.$store.dispatch('psIndex');
        this.$store.dispatch('pessoas/pessoaIndex');
    },
    computed: {
        programas_sociais () {
            return this.$store.state.ps.programas_sociais;
        },
        familia(){
            return this.$store.state.familia.familia;
        },
        semFamilia: {
            get: function () {
                return this.$store.state.pessoas.pessoas;
            },
            set: function (val) {
                this.$store.commit('pessoasIndex', val )
            }
        },
    },
    methods: {
        submit(){
            this.familia.cep = this.familia.cep.replace('-','');
            if(this.action == 'create'){
                this.$store.dispatch('familiaCreate', this.familia);
                this.$router.push('/');
            }else if(this.action == 'edit'){
                this.$store.dispatch('familiaUpdate', this.familia);
                this.snackbar.show = true;
            }
        },
        addPessoa(pessoa){
            
          for(var i=0; i<this.familia.pessoas.length; i++) {              
              if(this.familia.pessoas[i].id == pessoa.id){
                return false
              }
          }
          this.familia.pessoas.push(pessoa);
        },
        removePessoa(id){
          for(var i=0; i<this.familia.pessoas.length; i++) {              
              if(this.familia.pessoas[i].id == id){
                this.familia.pessoas.splice(i, 1);
              }
          }
        }
    },
  }
 </script>