<template>
    <v-card>
        <v-container fluid>
             <v-row align="center">
                <v-col class="d-flex" cols="12" sm="12">
                    <h3> Familias </h3>
                </v-col>
            </v-row>
            <v-card-title>
                <v-row align="center">
                     <v-col class="d-flex" cols="12" sm="6">
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Pessoas"
                            single-line
                        ></v-text-field>
                     </v-col>
                    <v-col class="d-flex" cols="12" sm="6">
                         <v-select
                            :items="familiaSelect"
                            item-text="id"
                            item-value="id"
                            label="Id Familia"
                            v-model="idSearch"
                            single-line
                            ></v-select>
                    </v-col>
                </v-row>
            </v-card-title>
             <v-row align="center">
                <v-col class="d-flex" cols="12" sm="12">
                    <v-data-table
                        :headers="headers"
                        :items="familias"
                        :items-per-page="10"
                        :search="search"
                        class="elevation-1 full-width"
                    >
                        <template v-slot:item.pessoas="{ item }">
                            <v-btn class="mx-2 float-right" dark color="blue" @click="editar(item.id)">
                                <v-icon dark>mdi-pencil</v-icon> Editar 
                            </v-btn>
                        </template>
                        <template v-slot:item.deletar="{ item }">
                            <v-btn class="mx-2 float-right" dark color="red" @click="deletar(item.id)">
                                <v-icon dark>mdi-delete</v-icon> Deletar 
                            </v-btn>
                        </template>
                    </v-data-table>
                </v-col>
            </v-row>
        </v-container>
    <v-snackbar v-model="snackbar.show"
        :bottom="snackbar.y === 'bottom'"
        color="success"
        :left="snackbar.x === 'left'"
        :multi-line="snackbar.mode === 'multi-line'"
        :right="snackbar.x === 'right'"
        :timeout="snackbar.timeout"
        :top="snackbar.y === 'top'"
        :vertical="snackbar.mode === 'vertical'"
    >
        Familia Deletada com sucesso
      <v-btn dark text @click="snackbar.show = false" > X </v-btn>
    </v-snackbar>
    </v-card>
</template>
<script>
export default {
    created() {
        this.$store.dispatch('familiaIndex');
    },
    computed: {
        familias () {
            return this.$store.state.familia.familias;
        },
        familiaSelect () {
            var arr  = this.$store.state.familia.familias;
            arr.unshift({id: 0});
            return arr;
        },
    },
    methods: {
        deletar(id){
            if(window.confirm('Tem certeza que deseja deletar essa familia ?')){
                this.$store.dispatch('familiaDestroy', id).then(function(valor) {
                    this.$store.dispatch('familiaIndex');    
                });
                this.snackbar.show = true;
            }
            return false
        },
        editar(id){
            this.$router.push('/familia/edit/'+id);
        }
    },
    data () {
        return {
            idSearch: 0,
            headers: [
                { text: 'ID', value: 'id' ,
                    filter: value => {
                        if((this.idSearch == 0 || this.idSearch == value) && value !=0)
                        return true ;
                    },
                },
                { text: 'Estado', value: 'estado' ,filterable: false},
                { text: 'Cidade', value: 'cidade' ,filterable: false},
                { text: 'Programa', value: 'programa.nome_programa' ,filterable: false},
                { text: '', value: 'pessoas', },
                { text: '', value: 'deletar'},
            ],
            search:'',            
            snackbar: {
                show: false,
                timeout: 6000,
                mode: '',
                x: null,
                y: 'bottom',
            },
        }
    },
}
</script>