<template>
    <v-app>
        <v-app-bar app
            color="deep-purple accent-4"
            dark
            dense
         >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Sis Familia</v-toolbar-title>
         </v-app-bar>
        <v-navigation-drawer app color='nav'
            v-model="drawer"
        >
            <v-list dense nav>
                <router-link to="/">
                    <v-list-item link>
                        <v-list-item-icon>
                            <v-icon>mdi-view-dashboard</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>
                                Familias
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>

                <router-link to="/familia/create">
                    <v-list-item link>
                        <v-list-item-icon>
                            <v-icon>mdi-view-dashboard</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>
                                    Nova Familia
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </router-link>
            </v-list>            
        </v-navigation-drawer >
        <v-content absolute class='bg'> 
            <v-container class='full-height' fluid>                
                <router-view></router-view>
            </v-container>
        </v-content>
        <!-- <v-footer app></v-footer> -->
    </v-app>
</template>
<script>
export default {
    data: () => ({
      drawer: false,
      group: null,
    }),

    watch: {
      group () {
        this.drawer = false
      },
    },
}
</script>